@use 'node_modules/breakpoint-sass/stylesheets/breakpoint' as b;
@use 'layout';

$media-small-max: layout.$medium-content-width + 24px * 2;
$media-small: 0 $media-small-max;

$media-medium-max: layout.$large-content-width + 24px * 2;
$media-medium: ($media-small-max + 1px) $media-medium-max;

@mixin breakpoint-small {
  @include b.breakpoint($media-small) {
    @content;
  }
}

@mixin breakpoint-medium {
  @include b.breakpoint($media-medium) {
    @content;
  }
}
