@font-face {
  font-family: 'GT Walsheim Pro';
  font-weight: 400;
  src: url('/fonts/GT-Walsheim-Pro-Regular.woff2');
  font-display: block;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/GT-Walsheim-Pro-Regular-Oblique.woff2');
  font-display: block;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  font-weight: 500;
  src: url('/fonts/GT-Walsheim-Pro-Medium.woff2');
  font-display: block;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/GT-Walsheim-Pro-Medium-Oblique.woff2');
  font-display: block;
}
