.image-anoi_5_6 {
  aspect-ratio: 1164 / 1396;
}

.image-bill-guru-01 {
  aspect-ratio: 2160 / 1424;
}

.image-bill-guru-02 {
  aspect-ratio: 2360 / 1328;
}

.image-bill-guru-03 {
  aspect-ratio: 2360 / 1328;
}

.image-felt-01 {
  aspect-ratio: 2360 / 1328;
}

.image-felt-02 {
  aspect-ratio: 2360 / 1328;
}

.image-felt-03 {
  aspect-ratio: 2360 / 1328;
}

.image-felt-04 {
  aspect-ratio: 2360 / 1328;
}

.image-felt-05 {
  aspect-ratio: 2360 / 1328;
}

.image-felt-06 {
  aspect-ratio: 2360 / 1328;
}

.image-geological-time_5_6 {
  aspect-ratio: 1164 / 1396;
}

.image-google-travel-01 {
  aspect-ratio: 2360 / 1326;
}

.image-google-travel-02 {
  aspect-ratio: 2360 / 1326;
}

.image-google-travel-03 {
  aspect-ratio: 2360 / 1327;
}

.image-google-travel-04 {
  aspect-ratio: 2360 / 1327;
}

.image-greencrate-01 {
  aspect-ratio: 2360 / 1330;
}

.image-greencrate-02 {
  aspect-ratio: 2360 / 1330;
}

.image-material-design-01 {
  aspect-ratio: 2360 / 1328;
}

.image-material-design-02 {
  aspect-ratio: 2360 / 1328;
}

.image-material-design-03 {
  aspect-ratio: 2360 / 1328;
}

.image-material-design-04 {
  aspect-ratio: 2360 / 1328;
}

.image-material-design-guidelines-01 {
  aspect-ratio: 2320 / 1248;
}

.image-material-design-guidelines-02 {
  aspect-ratio: 2360 / 1328;
}

.image-material-design-guidelines-03 {
  aspect-ratio: 2360 / 1329;
}

.image-material-tooling-01 {
  aspect-ratio: 2360 / 1327;
}

.image-material-tooling-02 {
  aspect-ratio: 2360 / 1328;
}

.image-material-tooling-03 {
  aspect-ratio: 2782 / 1566;
}

.image-minted_5_6 {
  aspect-ratio: 1164 / 1396;
}

.image-moons_5_6 {
  aspect-ratio: 1164 / 1396;
}

.image-public-art_5_6 {
  aspect-ratio: 1164 / 1396;
}

.image-wrks_5_6 {
  aspect-ratio: 1164 / 1396;
}
