@function calc-for-flexible-padding($content-width, $adjustment: null) {
  $calc-expression: '(100vw - #{$content-width}) / 2';

  @if $adjustment {
    $calc-expression: '#{$calc-expression} + #{$adjustment}';
  }

  @return calc(#{$calc-expression});
}

@mixin flexible-horizontal-padding($content-width, $min: null) {
  @include horizontal-padding(
    calc-for-flexible-padding($content-width),
    $min: $min
  );
}

@mixin horizontal-padding($length, $min: null) {
  @if $min == null {
    padding-left: $length;
    padding-right: $length;
  } @else {
    padding-left: unquote('max(#{$length}, #{$min})');
    padding-right: unquote('max(#{$length}, #{$min})');
  }
}
