@use 'node_modules/breakpoint-sass/stylesheets/breakpoint' as b;

$medium-content-width: 604px;
$media-small-max: $medium-content-width + 16px * 2;
$media-small: 0 $media-small-max;

$large-content-width: 1180px;
$media-medium-max: $large-content-width + 48px * 2;
$media-medium: ($media-small-max + 1px) $media-medium-max;


@function calc-for-flexible-padding($content-width, $adjustment: null) {
  $calc-expression: '(100vw - #{$content-width}) / 2';

  @if $adjustment {
    $calc-expression: '#{$calc-expression} + #{$adjustment}';
  }

  @return calc(#{$calc-expression});
}

@mixin flexible-horizontal-padding($content-width, $min: null) {
  @include horizontal-padding(
    calc-for-flexible-padding($content-width),
    $min: $min
  );
}

@mixin horizontal-padding($length, $min: null) {
  @if $min == null {
    padding-left: $length;
    padding-right: $length;
  } @else {
    padding-left: unquote('max(#{$length}, #{$min})');
    padding-right: unquote('max(#{$length}, #{$min})');
  }
}

@mixin breakpoint-small {
  @include b.breakpoint($media-small) {
    @content;
  }
}

@mixin breakpoint-medium {
  @include b.breakpoint($media-medium) {
    @content;
  }
}
