@use 'reset-src';
@use 'fonts';
@use 'image-aspects';
@use 'layout';

$large-content-width: 1180px;
$black: #030231;
$black60: rgba(3, 2, 49, 0.6);
$black12: rgba(3, 2, 49, 0.12);
$left-slice-width: 762px;

html {
  color: $black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: white;
}

html,
body {
  font-family: 'GT Walsheim Pro';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

header,
main > section,
footer {
  @include layout.flexible-horizontal-padding($large-content-width);
}

em {
  font-style: italic;
}

a {
  color: $black;
}

%caption {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $black60;
}

%section-heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.15px;
}

// ---------

.header-designer-name {
  font-size: 18px;
  font-weight: 500;
}

.header-nav-links {
  display: flex;

  width: 100%;
  padding: 0;
  padding-top: 32px;

  align-items: baseline;
  list-style: none;

  .header-designer-name {
    flex: 1;
  }

  a {
    display: inline-block;
    padding: 8px 12px 7px 12px;
    border-radius: 9999px;
    text-decoration: none;
  }
}

.page-index .header-nav-link-index,
.page-about .header-nav-link-about {
  background: rgba(3, 2, 49, 0.1);
}

// --------------

.intro {
  padding-top: 100px;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(3, 2, 49, 0.12);

  h1 {
    width: 790px;
    margin-bottom: 124px;

    font-weight: 500;
    font-size: 60px;
    line-height: 64px;
  }
}

.recent-positions {
  display: flex;

  .position-recency {
    @extend %caption;
    margin-bottom: 4px;
  }

  .position + .position {
    margin-left: 178px;
  }
}

// ---------------

.portfolio-highlight {
  display: grid;
  grid-template:
    'title    title   title' auto
    'subhead  subhead subhead' auto
    'overview .       links' auto / $left-slice-width 24px 1fr;

  padding-top: 96px;
  padding-bottom: 16px;

  h2 {
    @extend %section-heading;
    grid-area: title;
    margin: 0 0 4px;
  }

  .subhead {
    margin-bottom: 32px;
    grid-area: subhead;
    font-size: 24px;
    line-height: 36px;
    color: $black60;
  }

  h3 {
    @extend %caption;
    margin-bottom: 24px;
  }

  p {
    width: 762px;
  }

  .overview {
    grid-area: overview;
  }

  .links {
    grid-area: links;
    line-height: 24px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      a::after {
        display: inline-block;
        content: '→';
        margin-left: 4px;
      }
    }
  }

  .images {
    margin-top: 48px;
    grid-column: 1 / -1;
  }

  img {
    width: 100%;
    border: 0.5px solid rgba(3, 2, 49, 0.12);
    border-radius: 8px;
  }

  .image-container + .image-container {
    margin-top: 16px;
  }
}

// ---------------

.more-work {
  padding-top: 96px;
  padding-bottom: 16px;

  h2 {
    @extend %section-heading;
    margin-bottom: 64px;
  }

  ul {
    display: grid;
    column-gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;

    list-style: none;
    padding: 0;
  }

  li {
    padding-bottom: 48px;
  }

  .roles {
    @extend %caption;
    margin-top: 10px;
  }

  h3 {
    margin-top: 8px;
    margin-bottom: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  p {
    margin-top: 0;
    color: $black60;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }
}

// ------------

footer {
  display: grid;
  grid-template:
    'index     elsewhere' auto
    'contact   contact' auto
    'copyright copyright' auto
    / 1fr 1fr;

  border-top: 1px solid $black12;
  padding-top: 64px;
  padding-bottom: 48px;
  line-height: 24px;

  .footer-index,
  .footer-elsewhere {
    h2 {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .footer-index {
    grid-area: index;
  }

  .footer-elsewhere {
    grid-area: elsewhere;
  }

  .footer-contact {
    grid-area: contact;
    margin-top: 64px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-copyright {
    grid-area: copyright;
    margin-top: 42px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: $black60;
  }
}

// -------------

.bio {
  display: grid;
  grid-template:
    'content . get-in-touch' auto
    / $left-slice-width 40px 1fr;

  padding-top: 64px;
  padding-bottom: 64px;
}

.bio-content {
  grid-area: content;

  h2 {
    font-weight: 500;
  }

  p {
    margin-bottom: 24px;
  }
}

.bio-get-in-touch {
  grid-area: get-in-touch;

  h3 {
    @extend %caption;
  }
}

// ------------

.experience-section {
  padding-top: 64px;
  padding-bottom: 64px;
  border-top: 1px solid $black12;

  h3 {
    @extend %section-heading;
    margin-bottom: 64px;
  }

  .experience-item {
    display: grid;
    grid-template:
      'label . heading' auto
      'label . details' auto
      / 400px 40px 1fr;
  }

  .experience-item + .experience-item {
    margin-top: 48px;
  }

  .date-range,
  .contribution-type {
    @extend %caption;
    grid-area: label;
  }

  h4 {
    grid-area: heading;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }

  .year,
  .roles {
    grid-area: details;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: $black60;
  }
}
