@use 'normalize';
@use 'fonts';
@use 'typography';

@include normalize.normalize();

$black: #030231;

html {
  color: $black;
  font-family: 'GT Walsheim Pro';

  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: white;
}

header,
main,
footer {
  width: 1120px;
  margin: 0 auto;
}

em {
  font-style: italic;
}
