@use 'normalize';
@use 'fonts';
@use 'typography';

@include normalize.normalize();

$black: #030231;

html {
  color: $black;
  font-family: 'GT Walsheim Pro';

  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: white;
}

header,
main,
footer {
  width: 1120px;
  margin: 0 auto;
}

em {
  font-style: italic;
}

// ---------

.header-designer-name {
  font-size: 18px;
  font-weight: 500;
}

.header-nav-links {
  display: flex;

  width: 100%;
  padding: 0;
  padding-top: 32px;

  align-items: baseline;
  list-style: none;

  .header-designer-name {
    flex: 1;
  }

  a {
    display: inline-block;
    padding: 8px 12px 7px 12px;

    background: rgba(3, 2, 49, 0.1);
    border-radius: 9999px;
    text-decoration: none;
  }
}
