<footer>
  <div class="footer-index">
    <h2>Index</h2>
    <nav>
      <ul>
        <li><a href="/">Work</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </nav>
  </div>
  <div class="footer-elsewhere">
    <h2>Elsewhere</h2>
    <nav>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/andersonmeganchristine/"
            >LinkedIn</a
          >
        </li>
        <li><a href="https://dribbble.com/MeganAnderson">Dribbble</a></li>
        <li><a href="https://www.instagram.com/megcand/">Instagram</a></li>
      </ul>
    </nav>
  </div>
  <div class="footer-contact">
    <ul>
      <li>
        <a href="mailto:hello@megananderson.com">hello@megananderson.com</a>
      </li>
      <li>
        <a href="tel:+16507889516">+1 (650) 788-9516</a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    © 2021 Megan Anderson
  </div>
</footer>
