<header>
  <nav>
    <ul class="header-nav-links">
      <li class="header-designer-name">Megan Anderson</li>
      <li><a href="/">Work</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
