<header>
  <nav>
    <ul class="header-nav-links">
      <li class="header-designer-name"><a href="/">Megan Anderson</a></li>
      <li><a class="header-nav-link header-nav-link-index" href="/">Work</a></li>
      <li><a class="header-nav-link header-nav-link-about" href="/about">About</a></li>
    </ul>
  </nav>
</header>
