{% extends "layouts/default.njk" %} {% block title %}Megan Anderson{% endblock
%} {% block pageClass %}page-about{% endblock %} {% block content %}
<section class="bio">
  <div class="bio-content">
    <h2>About me</h2>
    <p>
      I’m a product designer with a passion for visual design & systems. I care
      about creating beautiful and considered outcomes that help people. The way
      systems influence human behavior, and the interaction between people, the
      built environment, and technology is endlessly interesting to me.
    </p>

    <h2>What i’ve been up to</h2>
    <p>
      I’ve held design roles at agencies, startups, and companies throughout
      Silicon Valley, working on a wide range of digital products, brand
      identities, and design systems.
    </p>
    <p>
      Formerly I was a part of Google’s Material Design team, where I
      contributed to Google's scalable and inclusive design system, as well as
      Google Travel, creating user-centered travel experiences.
    </p>
    <p>
      Currently I'm a freelance Product Designer and Co-founder of Felt, a
      design tool for creating mobile and desktop user interfaces visually with
      Flutter.
    </p>

    <h2>What I like to do</h2>
    <p>
      I combine ideation, curiosity, and beautiful visual solutions to solve
      user problems, in whatever form they take. I'm equally at home working as
      an individual contributor or leading a team. I enjoy strategic thinking
      and conceptualization. I have a solid foundation in usability, design
      systems and enjoy the technical aspects of any given project.
    </p>

    <h2>What you’re doing</h2>
    <p>
      Getting in touch so we can build something awesome.
    </p>
  </div>
  <div class="bio-get-in-touch">
    <h3>Get in touch</h3>
    <ul>
      <li>
        <a href="mailto:hello@megananderson.com">hello@megananderson.com</a>
      </li>
      <li>
        <a href="tel:+16507889516">+1 (650) 788-9516</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/andersonmeganchristine/"
          >LinkedIn</a
        >
      </li>
    </ul>
  </div>
</section>

<section class="experience-section">
  <h3>Experience</h3>
  <ol>
    <li>
      <div class="date-range">Jan 2020 – Present</div>
      <h4>Felt Software · Remote</h4>
      <ul class="roles">
        <li>Co-founder, Product Designer</li>
      </ul>
    </li>
    <li>
      <div class="date-range">May 2015 – Jan 2020</div>
      <h4>Google · San Francisco & Mountain View</h4>
      <ul class="roles">
        <li>UX Designer, Google Travel (Hotels)</li>
        <li>Visual Designer, Material Design</li>
      </ul>
    </li>
    <li>
      <div class="date-range">Sep 2014 – Sep 2015</div>
      <h4>John McNeil Studio · Oakland</h4>
      <ul class="roles">
        <li>Designer</li>
      </ul>
    </li>
    <li>
      <div class="date-range">Aug 2012 – Sep 2014</div>
      <h4>Outlier · San Francisco</h4>
      <ul class="roles">
        <li>Lead Designer</li>
      </ul>
    </li>
    <li>
      <div class="date-range">Dec 2009– Aug 2010</div>
      <h4>City of Berkeley, Department of Planning & Development · Berkeley</h4>
      <ul class="roles">
        <li>Urban Design Intern</li>
      </ul>
    </li>
  </ol>
</section>

<section class="experience-section">
  <h3>Community</h3>
  <ul>
    <li>
      <div class="contribution-type">U.S. Patent</div>
      <h4>
        <a href="https://www.patentguru.com/US2021011690A1">US2021011690A1</a>,
        “Design system for creating graphical content”
      </h4>
      <div class="year">2018</div>
    </li>
    <li>
      <div class="contribution-type">U.S. Patent</div>
      <h4>
        <a href="https://www.patentguru.com/USD854031S1">USD854031S1</a>,
        “Display screen with animated graphical user interface”
      </h4>
      <div class="year">2018</div>
    </li>
    <li>
      <div class="contribution-type">Conference</div>
      <h4>
        Google I/O, Product Demo Booth &amp; Material Design Reviewer
      </h4>
      <div class="year">2018</div>
    </li>
    <li>
      <div class="contribution-type">Research Team</div>
      <h4>
        Google, Accessibility & Inclusive Design Study team member
      </h4>
      <div class="year">2017</div>
    </li>
    <li>
      <div class="contribution-type">Conference</div>
      <h4>
        Google I/O, Material Design Reviewer
      </h4>
      <div class="year">2016</div>
    </li>
  </ul>
</section>
{% endblock %}
