{% extends "layouts/default.njk" %}

{% block title %}Megan Anderson{% endblock %}

{% block content %}
<section class="porfolio-highlight">
  <h2>Material Design</h2>
  <div class="sub-head">An adaptable design system.</div>
  <h3 class="overline">Overview</h3>
  <p>
    Material is an adaptable design system — backed by open-source code — that
    helps teams easily build high-quality digital experiences. As a visual
    designer on the team, I contributed to the design system and launch of
    Material Theming, providing the ability to systematically customize Material
    Design to better reflect a product’s brand. I was awarded a design patent
    for my contributions to componentry, published demos, system guidance, and
    tools to significantly improve the way digital products are designed and
    built.
  </p>
  <div class="links">
    <h3>Links</h3>
    <ul>
      <li>
        <a href="https://material.io">Material.io</a>
      </li>
      <li>
        <a href="https://design.google/library/making-more-with-material/">
          Making More with Material
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=m1diVY4Uzjc">
          Material makes it possible
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="porfolio-highlight">
  <h2>Google Travel</h2>
  <div class="sub-head">A unified system to find & book hotels.</div>
  <div class="overline">Overview</div>
  <p>
    Google Travel is a unified trip planning experience that helps users
    schedule their trips from start to finish. As a lead visual designer for
    Travel’s Hotel vertical, I contributed to the UI framework for the Hotel’s
    placesheet, and partnered with Travel’s horizontal system leads and
    engineering to integrate unified components and patterns from Google
    Material into the product. I launched feature level multi-arm experiments
    based on user research and business goals, aiming to make discovering and
    comparing hotels easier for users.
  </p>
  <div class="links">
    <h3>Links</h3>
    <ul>
      <li>
        <a href="https://www.google.com/travel/hotels">Google Hotel Search Product Website</a>
      </li>
      <li>
        <a href="https://material.io/blog/google-material-custom-theme">
          How Google created a custom Material theme
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="porfolio-highlight">
  <h2>Felt</h2>
  <div class="sub-head">
    A design tool for building user interfaces visually with Flutter.
  </div>
  <div class="overline">Overview</div>
  <p>
    Felt is a design tool informed by real-world engineering requirements.  We
    set out to kill handoff, and help designer and developers work from the same
    source.  In Felt designers build with widgets, which are code, to configure
    properties, create design tokens, and combine widgets atomically into
    screens. Every aspect of a Felt design is Dart code, with generated code
    using Google’s Build Runner framework. What users design in Felt is what
    appears in the production application.  As a co-founder and product
    designer, I bootstrapped the project and designed an early version of Felt’s
    macOS app, and a design framework for configuring widgets. We achieved some
    major milestones, like enabling Felt designs to be editable by both
    designers and developers for two way collaboration through GitHub. While
    working on the project we joined a startup incubator, Labs at WeWork, and
    continued to work remotely on the project during 2020.
  </p>
  <div class="links">
    <h3>Links</h3>
    <ul>
      <li>
        <a href="https://www.linkedin.com/company/felt-software">Reach out to Felt</a>
      </li>
    </ul>
  </div>
</section>

<section class="porfolio-highlight">
  <h2>Material Resources &amp; Tooling</h2>
  <div class="sub-head">
    Design tools to support building with Material.
  </div>
  <div class="overline">Overview</div>
  <p>
    As an integral part of the Material Tooling team, I redefined the visual
    language and framework for web and macOS based design tooling that aimed to
    express Material guidance within a design workflow. I was awarded a design
    patent for my contributions to tooling that supports adjusting attributes of
    components and theming within Material’s design system, as well as a
    proposed a hub for discovering and accessing Material tools and resources.
  </p>
  <div class="links">
    <h3>Links</h3>
    <ul>
      <li>
        <a href="https://material.io/resources">Material.io/resources</a>
      </li>
    </ul>
  </div>
</section>

<section class="porfolio-highlight">
  <h2>GreenCrate</h2>
  <div class="sub-head">
    Delivering the greenhouse to your doorstep.
  </div>
  <div class="overline">Overview</div>
  <p>
    GreenCrate is a California based startup formed in 2020 aiming to bring
    organic produce, at affordable prices, directly from the greenhouse to your
    doorstep. As lead product designer, I designed GreenCrate’s core user flows
    and defined the visual language for the team, and defined a user testing
    plan and supporting designs for a series of video based greenhouse tours and
    virtual farmers market experiences the team was experimenting with. The
    Android and iOS application are currently under development.
  </p>
</section>

<section class="porfolio-highlight">
  <h2>BillGuru</h2>
  <div class="sub-head">
    Making savings & budgeting simple.
  </div>
  <div class="overline">Overview</div>
  <p>
    BillGuru brings clarity to the stressful and confusing process of figuring
    out how to pay your bills when you don't have enough money to cover all of
    them. The product enables users to organize and track their bills, and
    calculates which ones are most important to pay with the money they have
    available. As product designer on the team, I led visual design and defined
    core flows across the product. Born at a Hackathon in San Francisco, the
    idea won grand prize, earning it a spot as one of ten finalist teams in the
    national FinCapDev Competition. The app is no longer active.
  </p>
</section>

<section class="porfolio-highlight">
  <h2>Material Design Guidelines</h2>
  <div class="sub-head">
    Helping teams apply Material & extend system guidance.
  </div>
  <div class="overline">Overview</div>
  <p>
    Material Design is a visual language created by Google in 2014 that
    synthesizes principles of good design with an underlying system that aims to
    unify experiences across platforms and device sizes. I joined the team as a
    visual designer a year after the initial launch, and contributed to
    fostering adoption and consistent use of the system across Google and with
    3rd parties. I published articles to the design spec, component sticker
    sheets, and furthered existing guidance with specific use cases. I
    collaborated with product teams though weekly design reviews to helped apply
    guidance to product specific use cases. I partnered with engineering to
    build out component libraries to spec, demos, and tooling. I also
    evangelized the system’s use with 3rd parties as a Material Reviewer at
    Google’s annual I/O developer conference.
  </p>
  <div class="links">
    <h3>Links</h3>
    <ul>
      <li>
        <a href="https://material.io/archive/guidelines/material-design/introduction.html">
          Material Design Guidelines
        </a>
      </li>
    </ul>
  </div>
</section>

<section>
  <h2>More work</h2>
  <ul>
    <li>
      <div class="roles">Urban Design Study  · Communication Design</div>
      <h3>Public Art in the Public Realm</h3>
      <p>
        Improving streets and open space with urban design guidance for public
        art.
      </p>
    </li>
    <li>
      <div class="roles">Pattern Design</div>
      <h3>Geological Time</h3>
      <p>Wallpapers inspired by rocks.</p>
    </li>
    <li>
      <div class="roles">UI / UX  · Web</div>
      <h3>Minted</h3>
      <p>Shoppable stories from artists & makers.</p>
    </li>
    <li>
      <div class="roles">Brand identity  · Packaging</div>
      <h3>Anoi Perfumery</h3>
      <p>Visualizing a landscape of aromas.</p>
    </li>
  </ul>
</section>
{% endblock %}
