{% extends "layouts/default.njk" %}

{% block title %}Megan Anderson{% endblock %}
{% block pageClass %}page-index{% endblock %}

{% block content %}
<section class="intro">
  <h1>
    Megan Anderson is a product designer with a passion for visual design &
    systems.
  </h1>
  <div class="recent-positions">
    <div class="position current">
      <div class="position-recency">Current</div>
      <div class="position-detail">Co-founder,Freelance</div>
    </div>
    <div class="position previous">
      <div class="position-recency">Previously</div>
      <div class="position-detail">Google</div>
    </div>
  </div>
</section>

<section class="portfolio-highlight first">
  <h2>Material Design</h2>
  <div class="subhead">An adaptable design system.</div>
  <div class="overview">
    <h3 class="overline">Overview</h3>
    <p>
      Material is a design system, backed by open-source code, that
      helps teams easily build high-quality digital experiences. As a visual
      designer on the team, I contributed to system and launch of
      Material Theming, the ability to systematically customize
      the design system to better reflect a product’s brand. I was awarded a
      design patent for my contributions to Material Components, published demos, system
      guidance, and tools to significantly improve the way digital products are
      designed and built.
    </p>
  </div>
  <div class="links">
    <h3 class="overline">Links</h3>
    <ul>
      <li>
        <a href="https://material.io">Material.io</a>
      </li>
      <li>
        <a href="https://design.google/library/making-more-with-material/">
          Making More with Material
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=m1diVY4Uzjc">
          Material makes it possible
        </a>
      </li>
    </ul>
  </div>
  <div class="images">
    <div class="image-container image-material-design-01">
      <img
        src="/images/portfolio/material-design-01.png"
        loading="lazy"
        alt="Material Design components in baseline theme and google material theme."
      />
    </div>
    <div class="image-container image-material-design-02">
      <img
        src="/images/portfolio/material-design-02.png"
        loading="lazy"
        alt="Material Design mobile user interface in baseline theme with typography and color theming properties shown."
      />
    </div>
    <div class="image-container image-material-design-03">
      <img
        src="/images/portfolio/material-design-03.png"
        loading="lazy"
        alt="Material Design mobile user interface in shrine theme with typography and color theming properties shown."
      />
    </div>
    <div class="image-container image-material-design-04">
      <img
        src="/images/portfolio/material-design-04.png"
        loading="lazy"
        alt="Shrine demo application showing mobile and tablet screens."
      />
    </div>
  </div>
</section>

<section class="portfolio-highlight">
  <h2>Google Travel</h2>
  <div class="subhead">A unified system to find & book hotels.</div>
  <div class="overview">
    <h3 class="overline">Overview</h3>
    <p>
      Google Travel is a unified trip planning experience that helps users
      schedule their trips from start to finish. As a lead visual designer for
      Travel’s Hotel vertical, I contributed to the UI framework, launched feature level multi-arm experiments
      based on user research and business goals, aiming to make discovering and
      comparing hotels easier for users. I partnered with Travel’s horizontal system leads and
      engineering to integrate unified components and patterns from Google
      Material into the product.  
    </p>
  </div>
  <div class="links">
    <h3 class="overline">Links</h3>
    <ul>
      <li>
        <a href="https://www.google.com/travel/hotels"
          >Google Hotel Search Product Website</a
        >
      </li>
      <li>
        <a href="https://material.io/blog/google-material-custom-theme">
          How Google created a custom Material theme
        </a>
      </li>
    </ul>
  </div>
  <div class="images">
    <div class="image-container image-google-travel-01">
      <img
        src="/images/portfolio/google-travel-01.png"
        loading="lazy"
        alt="Google Travel design components used in experiments."
      />
    </div>
    <div class="image-container image-google-travel-02">
      <img
        src="/images/portfolio/google-travel-02.png"
        loading="lazy"
        alt="Google Travel Hotels placesheet showing desktop and mobile web UI for photo browsing feature."
      />
    </div>
    <div class="image-container image-google-travel-03">
      <img
        src="/images/portfolio/google-travel-03.png"
        loading="lazy"
        alt="Hotels Placesheet showing mobile web and desktop UI"
      />
    </div>
  </div>
</section>

<section class="portfolio-highlight">
  <h2>Felt</h2>
  <div class="subhead">
    Co-founding a design tool for building user interfaces visually with Flutter.
  </div>
  <div class="overview">
    <h3 class="overline">Overview</h3>
    <p>
      Felt is a design tool informed by real-world engineering requirements, for creating actual user interfaces visually.
      We set out to kill handoff and help designers work from the
      same source as developers, so that what designers create is
      what appears in the production application. In Felt designers create with widgets, which are code, to
      configure properties, create design tokens, and combine widgets atomically
      into screens. As co-founder and product designer, I designed an early version of
      Felt’s macOS app, and a design framework for configuring widgets. We achieved some major milestones, like enabling Felt designs to be editable
      by both designers and developers for two way collaboration through GitHub.
      While working on the project we joined a startup incubator, and continue to work remotely on the project. 
      Built in and for Google Flutter, Felt generates code using Google’s Build Runner framework. 
      
    </p>
  </div>
  <div class="links">
    <h3 class="overline">Links</h3>
    <ul>
      <li>
        <a href="https://www.linkedin.com/company/felt-software"
          >Reach out to Felt</a
        >
      </li>
    </ul>
  </div>
  <div class="images">
    <div class="image-container image-felt-01">
      <img
        src="/images/portfolio/felt-01.png"
        loading="lazy"
        alt="Felt app icon"
      />
    </div>
    <div class="image-container image-felt-02">
      <img
        src="/images/portfolio/felt-02.png"
        loading="lazy"
        alt="Felt macOS app"
      />
    </div>
    <div class="image-container image-felt-03">
      <img
        src="/images/portfolio/felt-03.png"
        loading="lazy"
        alt="Demo apps created for Felt. "
      />
    </div>
    <div class="image-container image-felt-04">
      <img
        src="/images/portfolio/felt-04.png"
        loading="lazy"
        alt="Felt macOS app showing widget commit feature."
      />
    </div>
    <div class="image-container image-felt-05">
      <img
        src="/images/portfolio/felt-05.png"
        loading="lazy"
        alt="Felt macOS app showing code for a card created in Felt."
      />
    </div>
    <div class="image-container image-felt-06">
      <img
        src="/images/portfolio/felt-06.png"
        loading="lazy"
        alt="Felt macOS app search feature"
      />
    </div>
  </div>
</section>

<section class="portfolio-highlight">
  <h2>Material Resources &amp; Tooling</h2>
  <div class="subhead">
    Design tools to support building with Material.
  </div>
  <div class="overview">
    <h3 class="overline">Overview</h3>
    <p>
      As an integral part of the Material Tooling team, I redefined the visual
      language and framework for web and macOS based design tooling that aimed
      to express Material guidance within a design workflow. I was awarded a
      design patent for my contributions to tooling that supports adjusting
      attributes of components and theming within Material’s design system, as
      well as a proposed a hub for discovering and accessing Material tools and
      resources.
    </p>
  </div>
  <div class="links">
    <h3 class="overline">Links</h3>
    <ul>
      <li>
        <a href="https://material.io/resources">Material.io/resources</a>
      </li>
    </ul>
  </div>
  <div class="images">
    <div class="image-container image-material-tooling-01">
      <img
        src="/images/portfolio/material-tooling-01.png"
        loading="lazy"
        alt="Material Design resource hub web UI"
      />
    </div>
    <div class="image-container image-material-tooling-02">
      <img
        src="/images/portfolio/material-tooling-02.png"
        loading="lazy"
        alt="Material Theme Editor UI structural elements "
      />
    </div>
    <div class="image-container image-material-tooling-03">
      <img
        src="/images/portfolio/material-tooling-03.png"
        loading="lazy"
        alt="Material Theme Editor macOS UI components"
      />
    </div>
  </div>
</section>

<section class="portfolio-highlight">
  <h2>GreenCrate</h2>
  <div class="subhead">
    Delivering the greenhouse to your doorstep.
  </div>
  <div class="overview">
    <h3 class="overline">Overview</h3>
    <p>
      GreenCrate is a California based startup formed in 2020 aiming to bring
      organic produce, at affordable prices, directly from the greenhouse to
      your doorstep. As lead product designer, I designed GreenCrate’s core user
      flows, visual language, experiments and user
      testing plan for a series of video based greenhouse
      tours and virtual farmers market experiences. The Android and iOS application are currently under development.
    </p>
  </div>
  <div class="images">
    <div class="image-container image-greencrate-01">
      <img
        src="/images/portfolio/greencrate-01.png"
        loading="lazy"
        alt="Four mobile screens showing GreenCrate’s browsing and cart UI."
      />
    </div>
    <div class="image-container image-greencrate-02">
      <img
        src="/images/portfolio/greencrate-02.png"
        loading="lazy"
        alt="GreenCreate UI components and mobile screen."
      />
    </div>
  </div>
</section>

<section class="portfolio-highlight">
  <h2>BillGuru</h2>
  <div class="subhead">
    Making savings & budgeting simple.
  </div>
  <div class="overview">
    <h3 class="overline">Overview</h3>
    <p>
      BillGuru brings clarity to the stressful and confusing process of figuring
      out how to pay your bills when you don't have enough money to cover all of
      them. The product enables users to organize and track their bills, and
      calculates which ones are most important to pay with the money they have
      available. As product designer on the team, I led visual design and
      defined core flows across the product. Born at a Hackathon in San
      Francisco, the idea won grand prize, earning it a spot as one of ten
      finalist teams in the national FinCapDev Competition. The app is no longer
      active.
    </p>
  </div>
  <div class="images">
    <div class="image-container image-bill-guru-01">
      <img
        src="/images/portfolio/bill-guru-01.png"
        loading="lazy"
        alt="BillGuru app icon"
      />
    </div>
    <div class="image-container image-bill-guru-02">
      <img
        src="/images/portfolio/bill-guru-02.png"
        loading="lazy"
        alt="UI components are core screen for BillGuru mobile app"
      />
    </div>
    <div class="image-container image-bill-guru-03">
      <img
        src="/images/portfolio/bill-guru-03.png"
        loading="lazy"
        alt="BillGuru “Bills” tab showing typography scale"
      />
    </div>
  </div>
</section>

<section class="portfolio-highlight">
  <h2>Material Design Guidelines</h2>
  <div class="subhead">
    Helping teams apply Material & extend system guidance.
  </div>
  <div class="overview">
    <h3 class="overline">Overview</h3>
    <p>
      Material Design is a visual language created by Google in 2014 that
      synthesizes principles of good design with an underlying system that aims
      to unify experiences across platforms and device sizes. I joined the team
      as a visual designer a year after the initial launch, and contributed to
      fostering adoption and consistent use of the system across Google and with
      3rd parties. I published articles to the design spec, component sticker
      sheets, partnered with engineering to build out component libraries, demos, tooling. 
      I furthered existing guidance with specific use cases, and led weekly design system reviews with product teams at Google to foster consistent use of the design system. 
      At Google I/O in 2016 and 2018 I led design reviews and demos with attendees to evangelized design at Google. 
    </p>
  </div>
  <div class="links">
    <h3 class="overline">Links</h3>
    <ul>
      <li>
        <a
          href="https://material.io/archive/guidelines/material-design/introduction.html"
        >
          Material Design Guidelines
        </a>
      </li>
    </ul>
  </div>
  <div class="images">
    <div class="image-container image-material-design-guidelines-01">
      <img
        src="/images/portfolio/material-design-guidelines-01.png"
        loading="lazy"
        alt="Material Design Guidelines overview image"
      />
    </div>
    <div class="image-container image-material-design-guidelines-02">
      <img
        src="/images/portfolio/material-design-guidelines-02.png"
        loading="lazy"
        alt="Redlines and examples for Material Card component inline expansion"
      />
    </div>
    <div class="image-container image-material-design-guidelines-03">
      <img
        src="/images/portfolio/material-design-guidelines-03.png"
        loading="lazy"
        alt="Material navigation examples and design spec articles"
      />
    </div>
  </div>
</section>

<section class="more-work">
  <h2>More work</h2>
  <ul>
    <li>
      <div class="image-container image-moons_5_6">
        <img
          src="/images/portfolio/moons_5_6.png"
          loading="lazy"
          alt="Orange circular moon shape on a grey background"
        />
      </div>
      <div class="roles">Visual Study</div>
      <h3>Moons</h3>
      <p>Inspired by poet Jorge Luis Borges.</p>
    </li>
    <li>
      <div class="image-container image-wrks_5_6">
        <img
          src="/images/portfolio/wrks_5_6.png"
          loading="lazy"
          alt="Black tote bag with minimalist, typographic block and branded graphics"
        />
      </div>
      <div class="roles">Art direction</div>
      <h3>WRKS Series</h3>
      <p>Branding a creative symposium.</p>
    </li>
    <li>
      <div class="image-container image-public-art_5_6">
        <img
          src="/images/portfolio/public-art_5_6.png"
          loading="lazy"
          alt="Report opened to chapter section showing large typography and graphic elements"
        />
      </div>
      <div class="roles">Urban Design </div>
      <h3>Public Art in the Public Realm Study</h3>
      <p>
        Public art urban design guidance.
      </p>
    </li>
    <li>
      <div class="image-container image-geological-time_5_6">
        <img
          src="/images/portfolio/geological-time_5_6.png"
          loading="lazy"
          alt="Illustration of a grouping of multicolored stacked rocks on a sand colored background."
        />
      </div>
      <div class="roles">Pattern Design</div>
      <h3>Geological Time</h3>
      <p>Wallpapers inspired by rocks.</p>
    </li>
    <li>
      <div class="image-container image-minted_5_6">
        <img
          src="/images/portfolio/minted_5_6.png"
          loading="lazy"
          alt="Web UI for proposed Minted blog."
        />
      </div>
      <div class="roles">UI / UX · Web</div>
      <h3>Minted</h3>
      <p>Shoppable stories from artists & makers.</p>
    </li>
    <li>
      <div class="image-container image-anoi_5_6">
        <img
          src="/images/portfolio/anoi_5_6.png"
          loading="lazy"
          alt="Two perfume bottle packages with topographic color blocks on one side."
        />
      </div>
      <div class="roles">Brand identity</div>
      <h3>Anoi Perfumery</h3>
      <p>Visualizing a landscape of aromas.</p>
    </li>
  </ul>
</section>
{% endblock %}
